:root{
    --vermelho: #E50914;
    --preto: #141414;
    --branco: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background: var(--preto);
}

.center{
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{clear: both;}

header{
    background: rgba(0, 0, 0, .1);
    padding: 12px 0;
}

/* Menu 1 - header-left */

.header-left{
    float: left;
}

.header-left img{
    max-width: 120px;
}

.menu-header{
    position: relative;
    top: -10px;
    display: inline-block;
    margin-left: 30px;
}

.menu-header li{
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;
}

.menu-header a{
    color: white;
    text-decoration: none;
}

/* Menu 2 - header-right */

.header-right{
    margin-top: 10px;
    float: right;
}

.header-right i{
    margin: 0 10px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header-right a{
    color: white;
    text-decoration: none;
}

.search i a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.search, 
.notifications{
    display: inline-block;
}

.notifications{
    position: relative;
}

.circle-notifications{
    position: absolute;
    right: 0;
    top: -10px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--vermelho);
    text-align: center;        
}

.circle-notifications span{
    font-size: 11px;   
    color: white;
    vertical-align: 1px;
}

/* Featured */

.featured{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.0),rgba(0,0,0,.7)100%), url('/img/capa.jpg');
   
    height: 700px;
    background-size:cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container{
    margin-left: 30px;
    margin-bottom: 10px;
    width: 55%;
    
}

.subtitle{
    color: white;
    font-size: 20px; 
    margin-top: 0; 
    margin-bottom: 20px;  
}

.text-featured{
    color: white;
    position: relative;
   
}

/* Buttons Featured*/

.botao-1{
    color: black;
    border: none;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 14px;

    cursor: pointer;
    transition: .3s ease all;
    
}

.botao-2{
    background-color: rgba(100, 100, 100, .5);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 14px;

    cursor: pointer;
    transition: .3s ease all;    
}

.botao-3{
    background-color: rgba(100, 100, 100, .5);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 14px;

    cursor: pointer;
    transition: .3s ease all;    
}

.botao-1:hover{
    background-color: rgba(100, 100, 100, 0.5);
    color: white;

}

.botao-2:hover{
    background-color: white;
    color: black;

}

.botao-3:hover{
    background-color: white;
    color: black;

}

.botoes i{
    margin-right: 5px;    
}

.botoes{
    margin-top: 20px;
}

/* Carousel */

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.categoria{
    color: var(--branco);
    margin-bottom: 3px;   
}

/* window modal*/

.video1-box{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrar .video1-box{
    animation: .3s;
}

.fechar{
    position: absolute;
    right: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, .8);
    color: rgba(255, 255, 255, .8);
    background-color: rgba(0, 0, 0, .1);
    font-size: 1.8em;
    cursor: pointer;
}

.video1-box.mostrar{
    display: flex;
}

@keyframes video1-box{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}